{% extends "template.html" %}

{% block content %}

<style>
    .custom-card {
        width: 667px;
        margin: 0 auto;
        /* center the card */
    }

    .align-items-center {
        align-items: center;
        /* center the items vertically */
    }
</style>

<div class="container mt-5">
    <div class="card text-white bg-dark mb-3">
        <div class="card-header">
            <h2 class="text-center">Top Performing Staff</h2>
        </div>
        <div class="card-body">
            <div class="row">
                {% for staff in staff_data[:3] %}
                <div class="col">
                    <h1 class="text-center">
                        {% if loop.index == 1 %}&#129351;{% elif loop.index == 2 %}&#129352;{% elif loop.index == 3 %}&#129353;{% endif %}
                    </h1>
                    <div class="card text-center bg-dark mb-3">
                        <div class="card-body">
                            <h5 class="card-title text-light">{{ staff.id }}</h5>
                            <p class="text-light">Points: {{ staff.points }}</p>
                            <p class="text-light">Total Queries Resolved: {{ staff.queries_resolved }}</p>
                            <span class="badge {% if loop.index == 1 %}bg-success{% elif loop.index == 2 %}bg-info{% elif loop.index == 3 %}bg-warning{% endif %} rounded-pill">Rank {{ staff.rank }}</span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>            
        </div>
    </div>
</div>


<div class="container mt-4">
    <h1>My Performance</h1>
    <div class="card bg-dark text-white custom-card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h5 class="card-title">{{ username }}</h5>
                    <p class="card-text">Points: {{ points }}</p>
                    <p class="card-text">Rank: {{ rank }}</p>
                    <p class="card-text">Total Queries Resolved: {{ queries_resolved }}</p>
                </div>
            </div>
        </div>
    </div>
</div>





{% endblock %}