{% extends "/Report_generation/Report_template.html" %}

{% block title %}My Community{% endblock %}

{% block line_grapgh %}{% endblock %}
{% block pie_chart %}{% endblock %}
{% block card_report %}{% endblock %}



{% block leaderboard_name %}Individual points{% endblock %}
{% block leaderboard %}
<!--Leaderboard-->
<!-- A for loop that loops through all the instances to return a leaderboard in the form of a table-->
<!-- To add the limit on the app.py by treating it as a list-->
<!--    {% for player in players %}-->
<!--    <tr>-->
<!--        <td>{{ loop.index }}</td>-->
<!--        <td>{{ player.name }}</td>-->
<!--        <td>{{ player.score }}</td>-->
<!--    </tr>-->
<!--    {% endfor %}-->


{% endblock %}