{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="/static/events_details.css">
{% endblock %}

{% block content %}

<div id = "Content">
<h1 class ="title_report">Events</h1>

<div class="background">

    <h3 class = "title_report">{{details.event_name}}</h3>

    <div class ="details">
        <p>Date: {{details.event_date}}</p>
        <p>Time: {{details.time}}</p>
    </div>

    <div class ="details">
        <p>Overall-In-Charge: {{details.overall_in_charge}}</p>
        <p>Date posted: {{details.dateposted}}</p>
        <p>Location: {{details.venue}}</p>
    </div>


    <div class = "details">
        <p>Description: {{Description}}</p>
    </div>

</div>
</div>


    <div>
    <button class = "buttonLeft" onclick="location.href = '/Report_generation/update.html';">Edit</button>
    <button class = "buttonRight" onclick="generatePDF()">Download</button>
</div>




{% endblock %}


{% block javascript2 %}

<script>
    function generatePDF() {
    const content = document.getElementById("Content");
    const options = {
	filename: 'my-document.pdf',
	html2canvas: { scale: 2 },
	jsPDF: {format:[330,500]}
};
html2pdf().set(options).from(content).save();

}

</script>
{% endblock %}