{% extends "/Report_generation/Report_template.html" %}

{% block title %}My {{ current_month }} individual report{% endblock %}

{% block css2 %}
<style>
.leaderBoard_block{
background-color:#3F3F48;
border:1px solid white;
height: 40%;
width:100%;
border-radius:15px;
float: right;
margin-top:1%;
overflow-y:scroll;
}
    .leaderboard_table {
    border-collapse:separate;
    border-spacing:0 10px;

    }
    .leaderboard_row{
    background-color: #1E1F23;
    width:90%;
    }

    .score-column{
    float:right;
    padding-right:10px;
    border-radius: 0 10px 10px 0;
    }

    .name-column{
    margin-left:20px;
    }

    .leaderboard_table{
    width:100%
    }

    .rank-column{
    float:left;
    padding-left:10px;
    border-radius: 10px 0 0 10px;
    }


</style>
{% endblock %}

{% block card_report %}
 <h6 style="text-align: center;">Number of Neighbours helped:</h6>
    <h3 style="text-align: center;"> {{ neighbours_helped }}</h3>

{% endblock %}



{% block leaderboard_name %}Individual points{% endblock %}


{% block leaderboard %}
<h1 style="text-align:center;">Leaderboard</h1>

<table class = "leaderboard_table">
        <thead>
            <tr class = "leaderboard_row">
                <!-- Add CSS classes to the <th> elements for styling, if desired -->
                <th class="rank-column">Rank</th>
                <th class="name-column">Name</th>
                <th class="score-column">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard %}
            <tr class = "leaderboard_row">
                <td class="rank-column">{{ loop.index }}</td>
                <td class="name-column">{{ entry.name }}</td>
                <td class="score-column">{{ entry.score }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

{% endblock %}


{% block js_chart %}

<script>
      var chrt = document.getElementById("Line").getContext("2d");
      var chartId = new Chart(chrt, {
         type: 'line',
         data: {

            labels: {{ listMonths | tojson }},

            datasets: [{
               label: "online tutorial subjects",
               data: {{ line_data | tojson}},
               backgroundColor: ['Green'],
               borderColor: ['black'],
               borderWidth: 2,
               pointRadius: 5,
            }],
         },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins:{
               title:{
                  display: true,
                  text: "My points over the months",
                  color: '#FFFFFF',
                  font:{
                  size:20,},
                  }
            }
         },
      });
   </script>

<script>
   const title = 'Activities participated:' + ' ' + {{number_of_activities}}
   var chrt = document.getElementById("Pie").getContext("2d");
      var chartId = new Chart(chrt, {
         type: 'pie',
         data: {

            labels: {{pie_label | tojson}},

            datasets: [{
               data: {{ pie_data | tojson }},
               backgroundColor: ['yellow', 'aqua', 'pink', 'lightgreen'],
               borderColor: ['black'],
            }],
         },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins:{
               title:{
                  display: true,
                  text: title,
                  color: '#FFFFFF',
                  font:{
                  size:20,},
                  },
                legend:{
                display: true,
                color: '#FFFFFF',
                position:'right',
                labels:{
                  boxWidth: 30,
                  boxHeight: 10,

                }

                },
            }
         },
      });



</script>
{% endblock %}

{% block javascript3 %}
    <script>
        $(document).ready(function() {
    $('#saveButton').off('click').on('click', function() {
        $(this).prop('disabled', true); // Disable the button after the first click

        var dataToSend = {
            leaderboard: {{ leaderboard | tojson }},
            current_month: '{{ current_month }}',
            current_year: '{{ current_year }}',
            listMonths: {{ listMonths | tojson }}, // safe filter to avoid escaping the JSON string
            line_data: {{ line_data | tojson }}, // safe filter to avoid escaping the JSON string
            pie_data: {{ pie_data | tojson }}, // safe filter to avoid escaping the JSON string
            neighbours_helped: '{{ neighbours_helped }}',
            activities: '{{ activities }}',
            pie_label: {{ pie_label | tojson  }}, // safe filter to avoid escaping the JSON string

        };

        $.ajax({
            type: 'POST',
            url: '/save_data/indi',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),
            success: function(response) {
                console.log(response.message);
                if (response.message === 'Report already saved') {
                    alert("Report is already saved");
                } else {
                    alert("Report saved and is in saved report page");
                    location.reload(); // Refresh the page after successful save
                }
                $('#saveButton').prop('disabled', false); // Enable the button after AJAX success or failure
            },
            error: function() {
                alert("An error occurred while saving the report");
                $('#saveButton').prop('disabled', false); // Enable the button after AJAX error
            }
        });
    });
});
    </script>

 {% endblock %}