{% extends "/Report_generation/Report_template.html" %}

{% block title %}My {{ current_month }} Community's report{% endblock %}


{% block card_report %}
 <h6 style="text-align: center;">Number of Neighbours helped:</h6>
    <h3 style="text-align: center;"> {{ neighbours_helped }}</h3>
{% endblock %}



{% block leaderboard_name %}Individual points{% endblock %}


{% block leaderboard %}
<h1 style="text-align:center;">Leaderboard</h1>
<div style= "padding-left: 135px ; ">
<div class="leaderboard-item">
            <span>Rank</span>
            <span>Name</span>
            <span>Score</span>
        </div>
            {% for entry in leaderboard %}
            <div>
                <span>{{ loop.index }}</span>
                <span>{{ entry.name }}</span>
                <span>{{ entry.score }}</span>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}


{% block js_chart %}

<script>
      var chrt = document.getElementById("Line").getContext("2d");
      var chartId = new Chart(chrt, {
         type: 'line',
         data: {

            labels: {{ listMonths | tojson }},

            datasets: [{
               label: "online tutorial subjects",
               data: {{ data }},
               backgroundColor: ['Green'],
               borderColor: ['black'],
               borderWidth: 2,
               pointRadius: 5,
            }],
         },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins:{
               title:{
                  display: true,
                  text: "My points over the months",
                  color: '#FFFFFF',
                  font:{
                  size:20,},
                  }
            }
         },
      });
   </script>

<script>
   const title = 'Activities participated:' + ' ' + {{number_of_activities}}
   var chrt = document.getElementById("Pie").getContext("2d");
      var chartId = new Chart(chrt, {
         type: 'pie',
         data: {

            labels: ['Community service','Service','Community event','Others'],

            datasets: [{
               data: {{ pie_data }},
               backgroundColor: ['yellow', 'aqua', 'pink', 'lightgreen'],
               borderColor: ['black'],
            }],
         },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins:{
               title:{
                  display: true,
                  text: title,
                  color: '#FFFFFF',
                  font:{
                  size:20,},
                  },
                legend:{
                display: true,
                color: '#FFFFFF',
                position:'right',
                labels:{
                  boxWidth: 30,
                  boxHeight: 10,

                }

                },
            }
         },
      });



</script>
{% endblock %}