{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="/static/Report.css">
{% endblock %}

{% block javascript %}
<script src ="user_report.js"></script>
<script src = "https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>
{% endblock %}

{% block content %}

    <!-- more content -->
<div class="Graphs" id ="Content">

<h1 class = "title_report">{% block title %}{% endblock %}</h1>

<div class = "Line_graph_report">
{% block line_grapgh %}{% endblock %}
</div>


<div class = "pie_chart_report">
{% block pie_chart %}{% endblock %}
</div>

<div class = "card_report">
{% block card_report %}{% endblock %}
</div>

<h2 class = "title_leaderboard">LeaderBoard for {% block leaderboard_name %}{% endblock %}</h2>
<div class = "leaderBoard_block">
{% block leaderboard %}{% endblock %}
</div>

<div>
    <button class = "buttonLeft">Save</button>
    <button class = "buttonRight" onclick="generatePDF()">Download</button>
</div>

</div>




{% endblock %}