{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="../static/Report.css" type="text/css">
{% endblock %}

{% block css2 %}

{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
<script src ="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}

    <!-- more content -->
<div class="Graphs" id ="Content">

<h1 class = "title_report">{% block title %}{% endblock %}</h1>

<div class = "Line_graph_report">

    <canvas id = "Line"></canvas>
</div>


<div class = "pie_chart_report">

    <canvas id = "Pie"></canvas>
</div>

<div class = "card_report">
{% block card_report %}

    {% endblock %}
</div>

<h2 class = "title_leaderboard">LeaderBoard for {% block leaderboard_name %}{% endblock %}</h2>

<div class = "leaderBoard_block">
{% block leaderboard %}{% endblock %}
</div>

</div>
<div>
    <button class = "buttonLeft" id ="saveButton">Save</button>
    <button class = "buttonRight" onclick="generatePDF()">Download</button>
</div>


<div id="notification"></div>
{% block javascript2 %}

<script>
    function generatePDF() {
    const content = document.getElementById("Content");
    const options = {
	filename: 'my-document.pdf',
	html2canvas: { scale: 2 },
	jsPDF: {format:[330,500]}
};
html2pdf().set(options).from(content).save();

}

</script>
{% endblock %}

{% block js_chart %}{% endblock %}
{% block javascript3 %} {% endblock %}

{% endblock %}