{% extends "template.html" %}

{% block css %}
<link rel="stylesheet" href="/static/Report.css">
{% endblock %}


{% block content %}
<!--THis is the general structure of how the for loop will be to list out all the saved reports-->
<!--     {% for user in users_list %}-->
<!--         <tr>-->
<!--             <td>{{ user.get_user_id() }}</td>-->
<!--             <td>{{ user.get_first_name() }}</td>-->
<!--             <td>{{ user.get_last_name() }}</td>-->
<!--             <td>{{ user.get_gender() }}</td>-->
<!--             {% if user.get_membership() == "F" %}-->
<!--             <td>Fellow</td>-->
<!--            {% elif user.get_membership() == "S" %}-->
<!--             <td>Senior</td>-->
<!--             {% elif user.get_membership() == "P" %}-->
<!--             <td>Professional</td>-->
<!--             {% endif %}-->
<!--             <td>{{ user.get_remarks() }}</td>-->
<!--             <td><a href="#" class="btn btn-warning">Update</a></td>-->
<!--             <td>-->
<!--                 <form action="" method="POST">-->
<!--                 <input type="submit" value="Delete" class="btn btndanger">-->
<!--                 </form>-->
<!--             </td>-->
<!--         </tr>-->
<!--         {% endfor %}-->

{% endblock %}