{% extends "template.html" %}

{% block css %}
<style>
.saved_cards{
background-color:#5B5B5B;
margin-top: 50px !important;
height: 175px !important;
border-radius: 15px !important;
}

.link_report{
margin-left:30px;
color:white;
font-size:30px;
}

.delete_button{
background-color:#3A83F7;
border-radius: 10px;
font-size:100%;
color:white;
float:right;
padding:0.5%;
width: 150px;
margin-right:3px;
margin-top:2px;
}


</style>
{% endblock %}

{% block content %}
<h1>Saved Reports</h1>
<div>
            {% if reports %}
            {% for report in reports %}
            <div  class="saved_cards">
                    <a class='link_report' href="/Report_generation/{{report.report_type}}/{{ report.Report_id }}">{{report.name}}</a>
                <button class = "delete_button" onclick="deleteReport('{{ report.Report_id }}')">Delete</button>
            </div>

            {% endfor %}
    {% else %}
    <p>No reports available.</p>
{% endif %}
</div>
{% endblock %}

{% block javascript3 %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<<script>
    function deleteReport(reportId) {
        $.ajax({
            type: 'POST',
            url: '/delete/data',
            contentType: 'application/json',
            data: JSON.stringify(reportId),
            success: function(response) {
                console.log(response.message);
                location.reload();
            },
        });
    }
</script>
{% endblock %}

