{% extends "template.html" %}


{% block css %}
<link rel="stylesheet" href="/static/Report.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.1.1/chart.min.js"></script>
{% endblock %}

{% block javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js"></script>
<script src ="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
<div class="Graphs" id ="Content">

<h1 class = "title_report">My {{ current_year}} {{ current_month }} Transactions</h1>

<div class = "Line_graph_transaction_report">
    <canvas id = "Line1"></canvas>

</div>


<div class = "Line_graph_transaction_report">
    <canvas id = "Line2"></canvas>

</div>

<div class = "Line_graph_transaction_report">
    <canvas id = "Line3"></canvas>

</div>

<div>
    <button class = "buttonLeft" id ="saveButton">Save</button>
    <button class = "buttonRight" onclick="generatePDF()">Download</button>
</div>

</div>
{% endblock %}


{% block javascript2 %}

<script>
      var chrt1 = document.getElementById("Line1").getContext("2d");
      var chartId1 = new Chart(chrt1, {
         type: 'line',
         data: {

            labels: {{ listMonths | tojson }},

            datasets: [{
               label: "online tutorial subjects",
               data: {{ Total_spent | tojson }},
               backgroundColor: ['Green'],
               borderColor: ['black'],
               borderWidth: 2,
               pointRadius: 5,
            }],
         },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins:{
               title:{
                  display: true,
                  text: "My Community's points over the months",
                  color: '#FFFFFF',
                  font:{
                  size:20,},
                  }
            }
         },
      });
   </script>


<script>
      var chrt2 = document.getElementById("Line2").getContext("2d");
      var chartId2 = new Chart(chrt2, {
         type: 'line',
         data: {

            labels: {{ listMonths | tojson }},

            datasets: [{
               label: "online tutorial subjects",
               data: {{ Total_received | tojson}},
               backgroundColor: ['Green'],
               borderColor: ['black'],
               borderWidth: 2,
               pointRadius: 5,
            }],
         },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins:{
               title:{
                  display: true,
                  text: "My Community's points over the months",
                  color: '#FFFFFF',
                  font:{
                  size:20,},
                  }
            }
         },
      });
   </script>


<script>
      var chrt3 = document.getElementById("Line3").getContext("2d");
      var chartId3 = new Chart(chrt3, {
         type: 'line',
         data: {

            labels: {{ listMonths | tojson }},

            datasets: [{
               label: "online tutorial subjects",
               data: {{ Total_number | tojson }},
               backgroundColor: ['Green'],
               borderColor: ['black'],
               borderWidth: 2,
               pointRadius: 5,
            }],
         },
         options: {
            maintainAspectRatio: false,
            responsive: true,
            plugins:{
               title:{
                  display: true,
                  text: "My Community's points over the months",
                  color: '#FFFFFF',
                  font:{
                  size:20,},
                  }
            }
         },
      });
   </script>


<script>
    function generatePDF() {
    const content = document.getElementById("Content");
    const options = {
	filename: 'my-document.pdf',
	html2canvas: { scale: 2 },
	jsPDF: {format:[330,500]}
};
html2pdf().set(options).from(content).save();

}
</script>
{% endblock %}

{% block javascript3 %}
    <script>
        $(document).ready(function() {
        $('#saveButton').on('click', function() {
            var dataToSend = {

                current_month: '{{ current_month }}',
                current_year: '{{ current_year }}',
                listMonths: {{ listMonths | tojson }}, // safe filter to avoid escaping the JSON string
                Total_spent: {{ Total_spent | tojson }}, // safe filter to avoid escaping the JSON string
                Total_received: {{ Total_received | tojson }}, // safe filter to avoid escaping the JSON string
                Total_number: {{ Total_number | tojson  }}, // safe filter to avoid escaping the JSON string
            };

            $.ajax({
                type: 'POST',
                url: '/save_data/trans',
                contentType: 'application/json',
                data: JSON.stringify(dataToSend),
                success: function(response) {
                    console.log(response.message);
                },

            });
        });
    });
    </script>

 {% endblock %}