{% extends "template.html" %}
{% block css2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='settings_admin_view.css') }}">
{% endblock %}

{% block content %}
<div class="container">
  <h3 class="text-center">All Users</h3>
  <div class="row">
    {% for user_id, user_data in all_users_data.items() %}
    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6 col-12">
      <div class="card">
        <div class="card-body">
          <div class="user-profile">
            <h5 class="user-name">{{ user_data.get('name', '') }}</h5>
            <h6 class="user-email">{{ user_data.get('email', '') }}</h6>
          </div>
          <div class="about">
            <!-- Display additional user details here -->
            <p data-field="username">Username: {{ user_data.get('username', '') }}</p>
            <p data-field="birthdate">Birthdate: {{ user_data.get('birthdate', '') }}</p>
            <p data-field="town">Town: {{ user_data.get('town', '') }}</p>
            <p data-field="status">Status: {{ user_data.get('status', '') }}</p>
          </div>
          <div class="text-right">
            <button class="btn btn-outline-primary edit-btn" data-user-id="{{ user_id }}">Update</button>
            {% if user_data.get('disabled', false) %}
              <button class="btn btn-outline-success toggle-btn" data-user-id="{{ user_id }}" data-is-disabled="true">Enable</button>
            {% else %}
              <button class="btn btn-outline-warning toggle-btn" data-user-id="{{ user_id }}" data-is-disabled="false">Disable</button>
            {% endif %}
            <button class="btn btn-outline-danger delete-btn" data-user-id="{{ user_id }}">Delete</button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block javascript2 %}
<script src="{{ url_for('static', filename='settings_admin_view.js') }}"></script>
{% endblock %}
