{% extends "template.html" %}

{% block css2 %}
<link rel="stylesheet" href="{{ url_for('static', filename='update_usercred.css') }}">
{% endblock %}
{% block content %}

<div class="container">
  <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
          <div class="card-body">
            <form action="/update_user_cred" method="POST">
              <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <h6 class="mb-3 text-primary">Personal Details</h6>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="fullName">Name</label>
                        <input type="text" class="form-control" id="fullName" name="fullName" value="{{ user_data.get('name', '') }}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                      <label for="eMail">Email</label>
                      <input type="email" class="form-control" id="eMail" name="eMail" value="{{ user_data.get('email', '') }}" readonly>
                  </div>
              </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ user_data.get('username', '') }}">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                  <div class="form-group">
                      <label for="birthdate">Birthdate</label>
                      <input type="date" class="form-control" id="birthdate" name="birthdate" value="{{ user_data.get('birthdate', '') }}">
                  </div>
              </div>
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                      <div class="form-group">
                          <label for="town">Town</label>
                          <select name="town" id="town" required>
                              <option value="" disabled>Select a Town Council</option>
                              <option value="aljunied_hougang" {% if user_data.get('town', '') == 'aljunied_hougang' %} selected {% endif %}>Aljunied-Hougang</option>
                              <option value="ang_mo_kio" {% if user_data.get('town', '') == 'ang_mo_kio' %} selected {% endif %}>Ang Mo Kio</option>
                              <option value="bishan_toa_payoh" {% if user_data.get('town', '') == 'bishan_toa_payoh' %} selected {% endif %}>Bishan-Toa Payoh</option>
                              <option value="chua_chu_kang" {% if user_data.get('town', '') == 'chua_chu_kang' %} selected {% endif %}>Chua Chu Kang</option>
                              <option value="east_coast" {% if user_data.get('town', '') == 'east_coast' %} selected {% endif %}>East Coast</option>
                              <!-- Add similar options for other towns -->
                              <option value="holland_bukit_timah" {% if user_data.get('town', '') == 'holland_bukit_timah' %} selected {% endif %}>Holland-Bukit Timah</option>
                              <option value="jalan_besar" {% if user_data.get('town', '') == 'jalan_besar' %} selected {% endif %}>Jalan Besar</option>
                              <option value="jurong_clementi" {% if user_data.get('town', '') == 'jurong_clementi' %} selected {% endif %}>Jurong-Clementi</option>
                              <option value="marine_parade" {% if user_data.get('town', '') == 'marine_parade' %} selected {% endif %}>Marine Parade</option>
                              <option value="marsiling_yew_tee" {% if user_data.get('town', '') == 'marsiling_yew_tee' %} selected {% endif %}>Marsiling-Yew Tee</option>
                              <option value="nee_soon" {% if user_data.get('town', '') == 'nee_soon' %} selected {% endif %}>Nee Soon</option>
                              <option value="pasir_ris_punggol" {% if user_data.get('town', '') == 'pasir_ris_punggol' %} selected {% endif %}>Pasir Ris-Punggol</option>
                              <option value="sembawang" {% if user_data.get('town', '') == 'sembawang' %} selected {% endif %}>Sembawang</option>
                              <option value="sengkang" {% if user_data.get('town', '') == 'sengkang' %} selected {% endif %}>Sengkang</option>
                              <option value="tampines" {% if user_data.get('town', '') == 'tampines' %} selected {% endif %}>Tampines</option>
                              <option value="tanjong_pagar" {% if user_data.get('town', '') == 'tanjong_pagar' %} selected {% endif %}>Tanjong Pagar</option>
                              <option value="west_coast" {% if user_data.get('town', '') == 'west_coast' %} selected {% endif %}>West Coast</option>
                          </select>
                      </div>
                  </div>
              </div>
              <div class="row gutters">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                      <div class="text-right">
                          <a href="/logout" class="btn btn-outline-warning toggle-btn">Logout</a>
                          <button type="submit" class="btn btn-outline-primary edit-btn">Update</button>
                          <button type="button" class="btn btn-outline-danger delete-btn" id="deleteAccountBtn">Delete Account</button>
                      </div>
                  </div>
              </div>
            </form>
          </div>
      </div>
  </div>
</div>

{% endblock %}
{% block javascript4 %}
<script src="{{ url_for('static', filename='update_usercred.js') }}"></script>
{% endblock %}

