{% extends "template.html" %}
{% block content %}

<style>
  body {
    margin-top: 20px;
    color: #ffffff; /* Font color is white */
    background: #27282F;
    font-family: Arial, sans-serif;
  }

  .account-settings .user-profile {
    margin: 0 0 1rem 0;
    padding-bottom: 1rem;
    text-align: center;
  }

  .account-settings .user-profile .user-avatar {
    margin: 0 0 1rem 0;
  }

  .account-settings .user-profile .user-avatar img {
    width: 90px;
    height: 90px;
    border-radius: 100px;
  }

  .account-settings .user-profile h5.user-name {
    margin: 0 0 0.5rem 0;
  }

  .account-settings .user-profile h6.user-email {
    margin: 0;
    font-size: 0.8rem;
    font-weight: 400;
  }

  .account-settings .about {
    margin: 1rem 0 0 0;
    font-size: 0.8rem;
    text-align: center;
  }

  .card {
    background: #373741;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
  }

  .form-control {
    border: 1px solid #596280;
    border-radius: 2px;
    font-size: 0.825rem;
    background:  #27282F;
    color: #ffffff; /* Font color is white */
  }

  .text-right {
    text-align: right;
  }

  .btn {
    margin-right: 10px;
  }

  /* Center the content in the middle of the page */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
</style>

<div class="container">
    <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
      <div class="card h-100">
        <div class="card-body">
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <h6 class="mb-3 text-primary">Personal Details</h6>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="fullName">Name</label>
                <input type="text" class="form-control" id="fullName" value="User Name">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="eMail">Email</label>
                <input type="email" class="form-control" id="eMail" value="user_email@example.com">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" value="username123">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="birthdate">Birthdate</label>
                <input type="date" class="form-control" id="birthdate" value="2000-01-01">
              </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
              <div class="form-group">
                <label for="town">Town</label>
                <select name="town" id="town" class="form-control" required>
                  <option value="" disabled selected>Select a Town Council</option>
                  <option value="aljunied_hougang">Aljunied-Hougang</option>
                  <option value="ang_mo_kio">Ang Mo Kio</option>
                  <option value="bishan_toa_payoh">Bishan-Toa Payoh</option>
                  <option value="chua_chu_kang">Chua Chu Kang</option>
                  <option value="east_coast">East Coast</option>
                  <option value="holland_bukit_timah">Holland-Bukit Timah</option>
                  <option value="jalan_besar">Jalan Besar</option>
                  <option value="jurong_clementi">Jurong-Clementi</option>
                  <option value="marine_parade">Marine Parade</option>
                  <option value="marsiling_yew_tee">Marsiling-Yew Tee</option>
                  <option value="nee_soon">Nee Soon</option>
                  <option value="pasir_ris_punggol">Pasir Ris-Punggol</option>
                  <option value="sembawang">Sembawang</option>
                  <option value="sengkang">Sengkang</option>
                  <option value="tampines">Tampines</option>
                  <option value="tanjong_pagar">Tanjong Pagar</option>
                  <option value="west_coast">West Coast</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
              <div class="text-right">
                <button type="button" class="btn btn-secondary">Cancel</button>
                <button type="button" class="btn btn-primary">Update</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
