.outline-div {
    border: 1px solid #3F3F48 !important; /* This applies a 1px black border around the div */
}


#FAQ{
    margin-top: 100px;
    margin-bottom: 25px;
}

.accordion {
    background-color: #1E1F23;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #3F3F48;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-bottom: 10px;
    border-radius: 10px;
}


.accordion-item {
    background-color: #1E1F23;
    color: #f1f1f1;
    border: 1px solid #3F3F48;
}

.accordion-button {
    background-color: #1E1F23;
    color: #f1f1f1;
}