.sidebar-chat {
    height: 100vh;

    color: white;
    padding: 20px;
}
.friend-list {
    list-style-type: none;
    padding: 0;
}
.friend-list li {
    padding: 10px 0;
}
.friend-list a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}
.friend-list a:hover, .friend-list a.selected {
    background-color: #007bff; /* blue background */
    color: white;
}
.chat {
    height: 80vh;
    border: 1px solid #ccc;
    padding: 20px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.message-input {
    width: 100%;
}



.chat-messages {
    background-color: #36393f;
    border-radius: 0 0 10px 10px;
    padding: 20px;
    height: 80vh;
    overflow-y: auto;
    margin-bottom: 20px;
}

.chat-message {
    background-color: #40444b;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 10px;
    line-height: 1.5;
    position: relative;
    max-width: 80%;
}

.chat-message::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent transparent #40444b;
}

.chat-input {
    position: relative;
}

.chat-input input {
    border-radius: 25px;
    padding: 10px 20px;
    outline: none;
    border: none;
}

.chat-input button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #7289da;
    font-size: 1.5em;
    cursor: pointer;
}


.chat-message.sender {
    background-color: #7289da;
    align-self: flex-end;
}

.chat-message.receiver {
    background-color: #40444b;
    align-self: flex-start;
}

.chat-message .timestamp {
    font-size: 0.8em;
    color: #ccc;
    margin-top: 5px;
}

.main-screen {
    overflow: hidden !important;
}

.chat-header {
    background-color: #23272a;
    padding: 10px;
    color: #fff;
    font-size: 1.2em;
    border-radius: 10px 10px 0 0;
}