{% extends "template.html" %}


{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>


<style>

.grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
</style>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
        aria-describedby="button-addon2">
    <button class="btn btn-primary" type="button" id="button-addon2">send</button>
</div>

<div class="grid-container">
    <div class="card m-3 text-bg-dark border-info" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-body">
                <button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
    <div class="card m-3 text-bg-dark border-info" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-body">
                <button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
    <div class="card m-3 text-bg-dark border-info" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-body">
                <button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
    <div class="card m-3 text-bg-dark border-info" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-body">
                <button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
    <div class="card m-3 text-bg-dark border-info" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-body">
                <button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
    <div class="card m-3 text-bg-dark border-info" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <div class="card-body">
                <button type="button" class="btn btn-success">Accept</button>
                <button type="button" class="btn btn-danger">Reject</button>
            </div>
        </div>
    </div>
</div>

<script>
window.onload = function() {
    anime({
        targets: '.card',
        scale: [0.1, 1],
        opacity: [0, 1],
        delay: anime.stagger(200),
        easing: 'easeOutElastic(1, .5)'
    });
};
</script>


{% endblock %}