{% extends "template.html" %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>

<style>
    .grid-container {
        display: inline-grid;
        grid-template-columns: auto auto auto;
        padding: 10px;
    }

    .vr {
  width: 1px;
  border-right: 2px solid #fc1f0a;
}
</style>

<h1>JIO FRIEND 📇</h1>

<div class="mb-5">
    <form action="/friend_requests" method="POST" class="input-group">
        <input type="text" class="form-control" name="recipient_username" placeholder="Recipient's username" aria-label="Recipient's username">
        <button class="btn btn-primary" type="submit">
            <i class="fas fa-user-plus"></i> Send Request
        </button>
    </form>
</div>


<div class="row">
    <div class="col-lg-6">
        <h3>Invites Received 📥</h3>
        <div class="row">
            {% for request in received_requests %}
            <div class="col-md-6">
                <form action="/handle_invite" method="POST">
                    <div class="card text-white bg-info-subtle border-info-subtle mb-3 shadow">
                        <div class="card-header">🎁 Invite From</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ request['sender_info']['name'] }} ({{ request['sender_info']['username'] }})</h5>
                            <p class="card-text">Email: {{ request['sender_info']['email'] }} | Town: {{ request['sender_info']['town'] }}</p>
                            <input type="hidden" name="invite_id" value="{{ request['id'] }}">
                            <input type="hidden" name="action_type" value="received">
                            <button type="submit" name="response" value="accept" class="btn btn-success"><i class="fas fa-check"></i> Accept</button>
                            <button type="submit" name="response" value="reject" class="btn btn-danger"><i class="fas fa-times"></i> Reject</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>



    <div class="col-lg-6">
        <h3>Pending Invites 📤</h3>
        <div class="row">
            {% for invite in sent_invites %}
            <div class="col-md-6">
                <form action="/handle_invite" method="POST">
                    <div class="card text-white bg-warning-subtle border-warning-subtle mb-3 shadow">
                        <div class="card-header">✉️ Invite to</div>
                        <div class="card-body">
                            <h5 class="card-title">{{ invite['recipient_info']['name'] }} ({{ invite['recipient_info']['username'] }})</h5>
                            <p class="card-text">Email: {{ invite['recipient_info']['email'] }} | Town: {{ invite['recipient_info']['town'] }}</p>
                            <input type="hidden" name="invite_id" value="{{ invite['id'] }}">
                            <input type="hidden" name="action_type" value="sent">
                            <button type="submit" name="response" value="cancel" class="btn btn-danger"><i class="fas fa-ban"></i> Cancel</button>
                        </div>
                    </div>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>




<script>
    window.onload = function () {
        anime({
            targets: '.card',
            scale: [0.1, 1],
            opacity: [0, 1],
            delay: anime.stagger(200),
            easing: 'easeOutElastic(1, .5)'
        });
    };
</script>

{% endblock %}