<!DOCTYPE html>
<html>
    
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../static/homepage.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Source+Code+Pro&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
    <title>Welcome to KAKI 🍀</title>
</head>
<body>
    <div id="gradient"></div>
    <div class="centered-text">
        <div class="welcome-text">Welcome to KAKI 🍀</div>
        <div class="slogan-text">Let's use technology to bring back the Kampong spirit !</div>
        <br>
        <a href="#" class="signup-button" id="signup-button">Sign Up 🎉</a>
        <a href="#" class="login-button">Login 🔐</a>
    </div>

    <script>
        document.getElementById('signup-button').addEventListener('click', function() {
            confetti({
                particleCount: 500,
                spread: 70,
                origin: { y: 0.6 }
            });
        });
    </script>
</body>
</html>
