<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>KAKI - Welcome to your neighbourhood</title>
  <link rel="stylesheet" href="{{url_for('static', filename='navbar.css')}}"/>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">
  <script src="https://kit.fontawesome.com/86b959e400.js" crossorigin="anonymous"></script>
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
</head>

<body>
  <nav class="sidebar">
    <a href="#" class="logo">
      <div class="welcome-text">Welcome 👋</div>
      <div class="name-text">{{ user_name }}</div>
    </a>


    <div class="menu-content">
      <ul class="menu-items">
        <li class="item">
          <div class="submenu-item">
            <span>Home</span>
            <i class="fa-solid fa-chevron-right"></i>
          </div>

          <ul class="menu-items submenu">
            <div class="menu-title">
              <i class="fa-solid fa-chevron-left"></i>
              Back
            </div>
            <li class="item">
              <a href="/home">Home Feed</a>
            </li>
            <li class="item">
              <a href="/myposts">My Posts</a>
            <li class="item">
              <a href="/bookmarks">Bookmarks</a>
            <li class="item">
              <a href="/friend_request">Friend Request</a>
            </li>
            <li class="item">
              <a href="/chat">Messages</a>
            </li>
            <li class="item">
              <a href="/noticeboard">Notice Board</a>
            </li>
          </ul>
        </li>

        <li class="item">
          <div class="submenu-item">
            <span>Marketplace</span>
            <i class="fa-solid fa-chevron-right"></i>
          </div>

          <ul class="menu-items submenu">
            <div class="menu-title">
              <i class="fa-solid fa-chevron-left"></i>
              Back
            </div>
            <li class="item">
              <a href="/transaction_handling/marketplace">Marketplace</a>
            </li>
            <li class="item">
              <a href="/transaction_handling/MyProducts">MyProducts</a>
            </li>
            <li class="item">
              <a href="#">Services</a>
            <li class="item">
              <a href="#">MyServices</a>
            <li class="item">
              <a href="#">Transaction History</a>
            </li>
          </ul>
        </li>
        <li class="item">
          <div class="submenu-item">
            <span>Customer Support</span>
            <i class="fa-solid fa-chevron-right"></i>
          </div>

          <ul class="menu-items submenu">
            <div class="menu-title">
              <i class="fa-solid fa-chevron-left"></i>
              Back
            </div>
            <li class="item">
              <a href="/support_overview">Overview</a>
            </li>
            <li class="item">
              <a href="/user_tickets">All Tickets</a>
            </li>
            <li class="item">
              <a href="/my_tickets">My Tickets</a>
            </li>
            <li class="item">
              <a href="/user_chat">Chat</a>
            </li>
            <li class="item">
              <a href="/kakigpt">KAKI GPT <span class="badge rounded-pill d-inline-flex  text-info-emphasis bg-info-subtle border border-info-subtle rounded-2">Beta v1.0</span></a>
            </li>
          </ul>
        </li>

        <li class="item">
          <div class="submenu-item">
            <span>Report</span>
            <i class="fa-solid fa-chevron-right"></i>
          </div>

          <ul class="menu-items submenu">
            <div class="menu-title">
              <i class="fa-solid fa-chevron-left"></i>
              Back
            </div>
            <li class="item">
              <a href="/Report_generation/Individual_report">Individual Report</a>
            </li>
            <li class="item">
              <a href="/Report_generation/Community_report">Community Report</a>
            </li>
            <li class="item">
              <a href="/Report_generation/Transactions_report">Transactions Report</a>
            </li>
            <li class="item">
              <a href="/Report_generation/saved_reports">Saved Report</a>
            </li>
          </ul>
        </li>

        <li class="item">
          <a href="/account_management/show_all_users.html">Settings</a>
        </li>
      </ul>
    </div>
    <div class="logo-bottom">
      <i class="fa-sharp fa-solid fa-seedling"></i>
      KAKI
    </div>
  </nav>
  <script src="{{ url_for('static', filename='navbar.js') }}"></script>

</body>

</html>