<style>
    #post-card {
        border-radius: 15px;
        border: 1.5px solid #3F3F48;
        background: #1E1F23;
        width: 924px;
        color: #FFF;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #1da1f2;
        border-radius: 50%;
    }

    .carousel-inner img {
        max-height: 300px;
        /* Adjust this value to change the height of the carousel */
        border-radius: 15px;
        object-fit: cover;
        /* This will make the images cover the space without distortion */
    }

    #upload-card {
        border-radius: 15px;
        border: 1.5px solid #3F3F48;
        background: #1E1F23;
        width: 600px;
        color: #FFF;
    }

    #upload-card .btn {
        background-color: #1da1f2;
        color: #FFF;
    }

    #upload-card .btn:hover {
        background-color: #0c84d2;
    }

    .grouped-left {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .grouped-right {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }

    body::-webkit-scrollbar {
  display: none;
}
</style>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<div class="notifications">
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endwith %}




<div class="card mt-4 mx-auto" id="upload-card">
    <div class="card-body">
        <h5 class="card-title d-flex justify-content-between">
            <span>Create a new post</span>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#uploadCollapse"
                aria-expanded="false" aria-controls="uploadCollapse">
                Expand
            </button>
        </h5>
        <div class="collapse" id="uploadCollapse">
            <form action="/upload_post" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="post-name" class="form-label">Post Name</label>
                    <input type="text" class="form-control" id="post-name" name="post-name" required>
                </div>
                <div class="mb-3">
                    <label for="post-description" class="form-label">Post Description</label>
                    <textarea class="form-control" id="post-description" name="post-description" rows="3"
                        required></textarea>
                </div>
                <div class="mb-3">
                    <label for="post-images" class="form-label">Upload Images</label>
                    <input type="file" class="form-control" id="post-images" name="post-images" multiple
                        accept="image/*">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>



{% for post_id, post_data in posts %}
<div class="card mt-4 mx-auto" id="post-card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <div>
                <small class="text-info">{{ username }}</small>
            </div>
            <p class="card-text"><small class="text-white-50">{{ post_data['post_date'] }}</small></p>
        </div>
        <h5 class="card-title">{{ post_data['post_name'] }}</h5>
        <p class="card-text">{{ post_data['post_content'] }}</p>

        <!-- Assuming each post can have multiple images, you'd need to loop through them. 
             If not, you can simplify this structure. -->
        {% if post_data.get('post_images') %}
        <div id="postImagesCarousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for image_url in post_data['post_images'] %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img class="d-block w-100" src="{{ image_url }}" alt="Slide Image">
                </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#postImagesCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#postImagesCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% endif %}


        <div class="d-flex justify-content-between align-items-end mt-3">
            {% if username == post_data['post_author'] %}
            <div class="btn-group" role="group">
                <form method="POST" action="{{ url_for('delete_post', post_id=post_id) }}" class="delete-form">
                    <button type="submit" class="btn btn-outline-danger delete-button grouped-left"
                        data-id="{{ post_id }}">
                        <i class="fa-solid fa-trash-can"></i> Delete Post
                    </button>
                </form>
                <button class="btn btn-outline-info edit-button grouped-right" data-bs-toggle="modal"
                    data-bs-target="#editModal" data-id="{{ post_id }}" data-post-id="{{ post_id }}">
                    <i class="fa-solid fa-pen-nib"></i> Edit Post
                </button>

            </div>
            {% endif %}




            <div class="d-flex align-items-center">
                <form method="POST" action="{{ url_for('react_to_post', action='like', post_id=post_id) }}"
                    class="me-2">
                    <button
                        class="btn btn-outline-primary {% if current_user in post_data.get('liked_by', {}) %}active{% endif %}"
                        type="submit">
                        Like
                        <span class="badge bg-primary">{{ post_data.get('liked_by', {})|length }}</span>
                    </button>
                </form>

                <form method="POST" action="{{ url_for('react_to_post', action='dislike', post_id=post_id) }}"
                    class="me-2">
                    <button
                        class="btn btn-outline-danger {% if current_user in post_data.get('disliked_by', {}) %}active{% endif %}"
                        type="submit">
                        Dislike
                        <span class="badge bg-danger">{{ post_data.get('disliked_by', {})|length }}</span>
                    </button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endfor %}

<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{ url_for('update_post', post_id=post_id) }}" method="post" enctype="multipart/form-data">


                <div class="modal-body">
                    <input type="hidden" id="editPostId" name="post_id">
                    <div class="mb-3">
                        <label for="postTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="postTitle" name="title" required>
                    </div>
                    <div class="mb-3">
                        <label for="postContent" class="form-label">Content</label>
                        <textarea class="form-control" id="postContent" name="content" rows="4" required></textarea>
                    </div>

                    <div class="mb-3">
                        <label for="update-post-images" class="form-label">Post Image</label>
                        <input type="file" class="form-control" id="update-post-images" name="update-post-images"
                            multiple accept="image/*">
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update Post</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>





<script>

    document.addEventListener('DOMContentLoaded', function () {
        // Select all edit buttons
        const editButtons = document.querySelectorAll('.edit-button');

        // Loop through each button and add a click event listener
        editButtons.forEach(button => {
            button.addEventListener('click', function () {
                // Get the post_id from the button's data attribute
                const postId = button.getAttribute('data-post-id');

                // Set the form action
                const form = document.querySelector('#editModal form');
                form.action = `/update_post/${postId}`;

                // Set the hidden input value
                const hiddenInput = document.getElementById('editPostId');
                hiddenInput.value = postId;
            });
        });
    });


</script>