<div class="col-md-12 d-flex justify-content-center">
    <div class="input-group align-items-center" style="width:927px; padding: 0 1rem; background: #1E1F23; border: 1.5px solid #3F3F48; border-radius: 5px;">
      <input type="text" class="custom-input form-control py-3"
        style="color: rgb(246, 246, 246); border: none; background: transparent; font-size: 15px;"
        aria-label="Search" placeholder="Search">
      <div class="input-group-append">
        <button class="btn btn-primary py-2"
          style="border-radius:5px; border: none; font-size: 15px;" type="submit">Search</button>
      </div>
    </div>
  </div>
  
  <style>
    .custom-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: whitesmoke;
      opacity: 1; /* Firefox */
    }
  
    .custom-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
      color: whitesmoke;
    }
  
    .custom-input::-ms-input-placeholder { /* Microsoft Edge */
      color: whitesmoke;
    }
  </style>