{% extends "template.html" %}

{% block content %}
<button class="btn btn-primary my-2 my-sm-0"><i class="fa-solid fa-arrow-left"></i> back</button>

<div class="card  mt-4 mx-auto  text-bg-dark mb-3">
    <div class="card-header">
        <img src="path_to_profile_pic.jpg" alt="profile pic" class="rounded-circle" style="width: 30px; height: 30px;">
        <small class="text-info">  Username</small>
    </div>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
</div>


{% endblock %}