<style>
  #ticket-card {
    border-radius: 15px;
    border: 1.5px solid #3F3F48;
    background: #1E1F23;
    width: 924px;
    color: #FFF;
  }
</style>

<div class="card mt-4 mx-auto" id="ticket-card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p class="card-text"><small class="text-white-50">ID: {{ ticket.ticket_id}}</small></p>
      <p class="card-text"><small class="text-white-50">{{ ticket.opened_at }}</small></p>
    </div>
    <h5 class="card-title">{{ ticket.subject }}</h5>
    <p class="card-text">{{ ticket.descriptions }}</p>
    <div class="d-flex justify-content-between align-items-end">
      <div>
        <img src="path_to_profile_pic.jpg" alt="profile pic" class="rounded-circle" style="width: 30px; height: 30px;">
        <small class="text-info"> {{ ticket.user_id }}</small>
      </div>
      <div>
        {% if ticket.user_id == user_name %}
        <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa-solid fa-gear"></i> Settings</button>
        {% endif %}
        <button class="btn btn-primary" href="{{ url_for('ticketComments', ticket_ID=ticket.ticket_id) }}">Open
          Chat</button>
      </div>
    </div>
  </div>
</div>
