<link rel="stylesheet" href="tickets.css">

{% extends "template.html" %}

{% block content %}

<form class="d-flex" role="search">
    <input class="form-control" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>


<div class="card w-75 mx-auto">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Button</a>
    </div>
</div>


{% endblock %}