<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
<script src="https://raw.githack.com/eKoopmans/html2pdf/master/dist/html2pdf.bundle.js"></script>

{% extends "template.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}
{% endif %}
{% endwith %}

<style>
    .comment-container {
        color: #ffffff;
        padding: 10px;
    }

    .comment-card {
        background-color: #1F1F1F;
        border-radius: 10px;
        margin-bottom: 20px;
        color: #ffffff;
        /* Make the text white */
    }

    .comment-card-header {
        border-bottom: 1px solid #333;
    }
</style>

<a class="btn btn-primary my-2 my-sm-0" href="{{ url_for('userTickets') }}"><i class="fa-solid fa-arrow-left"></i>
    back</a>

<div class="card  mt-4 mx-auto text-bg-dark mb-3">
    <div class="card-header">
        <img src="path_to_profile_pic.jpg" alt="profile pic" class="rounded-circle" style="width: 30px; height: 30px;">
        <small class="text-info">{{ data.user_id }}</small>
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ data.subject }}</h5>
        <p class="card-text">{{ data.descriptions }}</p>
    </div>
</div>

<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#uploadCollapse" aria-expanded="false"
    aria-controls="uploadCollapse">
    <i class="fa-solid fa-plus"></i> Add a Comment
</button>


<div class="collapse" id="uploadCollapse">
    <form class="mt-4" method="POST" action="{{ url_for('set_comment', ticket_ID=data.ticket_id) }}">
        <h4 class="mb-3">Add a comment</h4>
        <div class="mb-3">
            <label for="commentText" class="form-label">Comment</label>
            <textarea class="form-control" id="commentText" name="commentText" rows="3"
                placeholder="Your comment" required></textarea>
        </div>
        <button type="submit" class="btn btn-outline-light">Submit</button>
    </form>
</div>



<div class="container comment-container">
    <h2 class="mb-4">Comments</h2>
    {% if comments is none or comments|length == 0 %}
    <div class="text-light" role="alert">
        No comments yet, check back later!
    </div>
    {% else %}
    {% for comment in comments %}
    <div class="card text-bg-dark comment-card">
        <div class="card-header comment-card-header d-flex justify-content-between align-items-center">
            <div>
                <h5 class="text-light d-inline-block">
                    @{{ comment[1]['comment_by'] }}
                </h5>
                {% if is_staff == True %}
                <span class="badge bg-primary d-inline-block ml-2">Staff 🤓</span>
                {% endif %}

            </div>
            <div>
                <small class="text-light">{{ comment[1]['comment_date'] }}</small>
            </div>
        </div>
        <div class="card-body">
            <p class="card-text">{{ comment[1]['comment'] }}</p>
            {% if comment[1]['comment_by'] == user_name %}
            <div class="d-flex justify-content-start">
                <form action="{{ url_for('delete_comment', comment_id=comment[0]) }}" class="me-2" method="post">
                    <button class="btn btn-outline-danger" id="{{ comment[0] }}"
                        onclick="return confirm('Are you sure you want to delete this comment?');">
                        <i class="fa-solid fa-trash-can"></i> Delete
                    </button>
                </form>
                <button type="button" class="btn btn-outline-info" data-bs-toggle="modal"
                    data-bs-target="#updateCommentModal{{ comment[0] }}">
                    <i class="fa-solid fa-pen"></i> Edit Comment
                </button>
            </div>
            {% endif %}
        </div>

    </div>


    <div class="modal fade" id="updateCommentModal{{ comment[0] }}" tabindex="-1"
        aria-labelledby="updateCommentModalLabel{{ comment[0] }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateCommentModalLabel">Update Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="{{ url_for('update_comment', comment_id=comment[0]) }}" method="POST">
                    <input type="hidden" name="comment_id" value="{{ comment[0] }}">
                    <div class="modal-body">
                        <label for="commentText" class="form-label">Comment Text</label>
                        <textarea class="form-control" id="commentText" name="commentText" rows="3" required></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <form action="{{ url_for('update_comment', comment_id=comment[0]) }}" method="POST">
                            <button type="submit" class="btn btn-primary">Save changes</button>
                        </form>
                    </div>
                </form>
            </div>
        </div>
    </div>



    {% endfor %}
    {% endif %}
</div>


<script>
    window.onload = function () {
        setTimeout(function () {
            var alerts = document.getElementsByClassName('alert');
            for (var i = 0; i < alerts.length; i++) {
                alerts[i].style.display = 'none';
            }
        }, 5000);
    };
</script>





{% endblock %}