<div class="card mt-4 text-bg-dark">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <p class="card-text"><small class="text-muted">ID: 1234</small></p>
      <p class="card-text"><small class="text-muted">Time of upload: 3 mins ago</small></p>
    </div>
    <h5 class="card-title">Post title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <div class="d-flex justify-content-between align-items-end">
      <div>
        <img src="path_to_profile_pic.jpg" alt="profile pic" class="rounded-circle" style="width: 30px; height: 30px;">
        <small class="text-muted">  Username</small>
      </div>
      <button class="btn btn-primary">Open Chat</button>
    </div>
  </div>
</div>