<!DOCTYPE html>
<html>
<head>
    <title>Messaging App</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/user_chat.css">
</head>
<body>
	{% extends "template.html" %}


{% block content %}

    <div class="container-fluid main-screen">
        <div class="row">
            <div class="col-4 sidebar-chat overflow-auto">
                <h2>Support Chat</h2>
                <div class="mb-3">
                    <input type="text" class="form-control" id="searchBar" placeholder="Search friends">
                </div>
                <ul class="friend-list">
                    <!-- List of friends will go here -->
                    <li><a href="#">Friend 1</a></li>
                    <!-- Add more as needed -->
                </ul>
            </div>
            <div class="col-8">
                <div class="chat-header">
                    Chat with Friend 1
                </div>
                <div class="chat-messages d-flex flex-column" id="chatMessages">
                    <!-- Chat messages will go here -->
                    <div class="chat-message receiver">
                        Hello, how can I help you?
                        <div class="timestamp">10:15 AM</div>
                    </div>
                    <div class="chat-message sender">
                        I need help with my account.
                        <div class="timestamp">10:16 AM</div>
                    </div>
                    <div class="chat-message sender">
                        I need help with my account.
                        <div class="timestamp">10:16 AM</div>
                    </div>
                    
                </div>
                <div class="chat-input">
                    <input type="text" class="form-control" id="chatInput" placeholder="Type a message">
                    <button id="sendButton"><i class="fas fa-paper-plane"></i></button>
                </div>
            </div>
        </div>
    </div>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);
        document.getElementById('sendButton').addEventListener('click', function(e){
            e.preventDefault();
            var message = document.getElementById('chatInput').value;
            socket.emit('message', message);
            document.getElementById('chatInput').value = '';
            return false;
        });
        socket.on('message', function(msg){
            var div = document.createElement('div');
            div.className = 'chat-message sender';
            div.textContent = msg;
            document.getElementById('chatMessages').appendChild(div);
        });
    </script>

{% endblock %}
</body>
</html>
